NEXT_PUBLIC_SUPABASE_URL=https://ojxqwuvxnxhmvnkjrhqo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qeHF3dXZ4bnhobXZua2pyaHFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjEzNDUsImV4cCI6MjA5ODg5NzM0NX0.hgRdWU8dQHtpAtGKjT_7RJkAjCReSqjH7Eun69vTKn8
